@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewData["Title"] - Dividni</title>
</head>

<body>

    <!-- navbar -->
    <header>
        <nav class="nav-wrapper blue darken-4">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="brand-logo logo">
                    <img src="~/images/logo.png">
                    <span>Dividni</span>
                </a>
                <a href="" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a href="#" class="dropdown-trigger tooltipped btn-floating btn-med teal"
                                data-target="dropdownLogout" data-tooltip="@User.Identity.Name">
                                <i class="material-icons">account_box</i>
                            </a></li>
                    }
                    else
                    {
                        <li><a href="#" class="dropdown-trigger tooltipped btn-floating btn-med teal"
                                data-target="dropdownLogin" data-tooltip="Account">
                                <i class="material-icons">account_box</i>
                            </a></li>
                    }
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="dropdown-trigger-nav" data-target="dropdownSimple">Simple</a></li>
                    <li><a href="#" class="dropdown-trigger-nav" data-target="dropdownAdv">Advanced</a></li>
                    <li><a href="#" class="dropdown-trigger-nav" data-target="dropdownAssess">Assessments</a></li>
                    <li><a href="#" class="dropdown-trigger-nav" data-target="dropdownTut">Tutorials</a></li>
                </ul>
                <ul class="sidenav" id="mobile-menu">
                    <li><a asp-controller="Home" asp-action="Index"
                            class="blue darken-4 white-text left-align"><b>Dividni</b></a></li>
                    <li><a href="#" class="grey lighten-2 black-text left-align not-active">Simple</a></li>
                    <li><a asp-controller="Simple" asp-action="Create">Create</a></li>
                    <li><a asp-controller="Simple" asp-action="Index">Manage</a></li>
                    <li><a href="#" class="grey lighten-2 black-text left-align not-active">Advanced</a></li>
                    <li><a asp-controller="Advanced" asp-action="Create">Create</a></li>
                    <li><a asp-controller="Advanced" asp-action="Index">Manage</a></li>
                    <li><a href="#" class="grey lighten-2 black-text left-align not-active">Assessments</a></li>
                    <li><a asp-controller="Assessment" asp-action="Create">Create</a></li>
                    <li><a asp-controller="Assessment" asp-action="Index">Manage</a></li>
                    <li><a href="#" class="grey lighten-2 black-text left-align not-active">Tutorials</a></li>
                    <li><a asp-controller="Tutorial" asp-action="Simple">Simple</a></li>
                    <li><a asp-controller="Tutorial" asp-action="Advanced">Advanced</a></li>
                    <li><a asp-controller="Tutorial" asp-action="Assessment">Assessments</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- dropdown lists for navbar -->
    <ul id="dropdownSimple" class="dropdown-content">
        <li><a asp-controller="Simple" asp-action="Create">Create</a></li>
        <li><a asp-controller="Simple" asp-action="Index">Manage</a></li>
    </ul>
    <ul id="dropdownAdv" class="dropdown-content">
        <li><a asp-controller="Advanced" asp-action="Create">Create</a></li>
        <li><a asp-controller="Advanced" asp-action="Index">Manage</a></li>
    </ul>
    <ul id="dropdownAssess" class="dropdown-content">
        <li><a asp-controller="Assessment" asp-action="Create">Create</a></li>
        <li><a asp-controller="Assessment" asp-action="Index">Manage</a></li>
    </ul>
    <ul id="dropdownTut" class="dropdown-content">
        <li><a asp-controller="Tutorial" asp-action="Simple">Simple</a></li>
        <li><a asp-controller="Tutorial" asp-action="Advanced">Advanced</a></li>
        <li><a asp-controller="Tutorial" asp-action="Assessment">Assessments</a></li>
    </ul>
    <ul id="dropdownLogin" class="dropdown-content">
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login">
                <div class="row center">
                    <button type="submit" class="btn-flat teal-text">Login</button>
                </div>
            </form>
        </li>
    </ul>
    <ul id="dropdownLogout" class="dropdown-content">
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <div class="row center">
                    <button type="submit" class="btn-flat teal-text">Logout</button>
                </div>
            </form>
        </li>
    </ul>

    <!-- intro -->
    <section class="section container center-align grey" id="intro">
        <div class="row">
            <h4 class="white-text">@ViewData["Heading"]</h4>
            <p class="white-text">@ViewData["Description"]</p>
        </div>
    </section>

    @RenderBody()

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/koqs6gayybvta89xtlc1j2yq34sncoacvwia8or6vgn7o34i/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/simple.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>