@model Dividni.Models.Simple

@{
    ViewData["Title"] = "Simple: Delete";
    ViewData["Heading"] = "Simple Multiple-Choice Questions";
    ViewData["Description"] = "Delete a simple multiple-choice question";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col">
            <h5 class="teal-text">Question Details</h5>
            <p>Delete the following question?</p>
            <div>
                <b>Name: </b>@Html.DisplayFor(model => model.Name)</br>
                </br><b>Type: </b>@Html.DisplayFor(model => model.Type)</br>
                </br><b>Marks: </b>@Html.DisplayFor(model => model.Marks)</br>
                </br><b>Question Text:</b></br>
                <div id="questionText" value="@Html.DisplayFor(model => model.QuestionText)"></div></br>
                <b>Correct Answers:</b>
                <ol id="correct" value="@Html.DisplayFor(model => model.CorrectAnswers)"></ol>
                <b>Incorrect Answers:</b>
                <ol id="incorrect" value="@Html.DisplayFor(model => model.IncorrectAnswers)"></ol></br>
            </div>
            <div class="row">
                <div class="col">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="waves-effect waves-light btn red">Delete<i
                                class="material-icons right">delete</i></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="waves-effect waves-light btn" asp-action="Index">
                        Return to list<i class="material-icons right">list</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
