@model Dividni.Models.Assessment

@{
    ViewData["Title"] = "Assessments: Download";
    ViewData["Heading"] = "Assessments";
    ViewData["Description"] = "Download an assessment";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col">
            <h5 class="teal-text">Assessment Details</h5>
            <p>Download the following assessment?</p>
            <div>
                <b>Name: </b>@Html.DisplayFor(model => model.Name)</br>
                </br><b>Cover Page:</b></br>
                <div id="coverPage" value="@Html.DisplayFor(model => model.CoverPage)"></div></br>
                <b>Question List:</b>
                <ol id="questionList" value="@Html.DisplayFor(model => model.QuestionList)"></ol>
                <b>Appendix:</b></br>
                <div id="appendix" value="@Html.DisplayFor(model => model.Appendix)"></div></br>
            </div>
            <h6 class="teal-text">Download Details</h6>
             <form onSubmit="return downloadAssessment(event)">
                <div class="input-field"><input id="assessmentID" name="assessmentID" value="@Html.DisplayFor(model => model.Id)" type="hidden")></div>
                <div class="input-field">
                    <label for="assessmentVersions">Versions</label>
                    <input type="number" min="1" max="100" step="1" value="1" id="assessmentVersions" name="assessmentVersions" required>
                </div>
                <div>
                    <p>Exam type:</p>
                        <p><label>
                            <input class="with-gap" type="radio" name="assessmentType" value="standard" required checked>
                            <span>Standard</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" type="radio" name="assessmentType" value="canvas" required>
                            <span>Canvas</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" type="radio" name="assessmentType" value="moodle" required>
                            <span>Moodle</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" type="radio" name="assessmentType" value="inspera" required>
                            <span>Inspera</span>
                        </label></p>
                </div>
                <button type="submit" class="waves-effect waves-light btn orange">Download<i
                        class="material-icons right">download</i></button>
            </form>                 
            <p></p>
            <a class="waves-effect waves-light btn" asp-action="Index">
                Return to list<i class="material-icons right">list</i>
            </a>
        </div>
    </div>
</section>

<!-- Preview Modal -->
<div id="previewModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Assessment Preview</h4>
        <div id="previewModalContent"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
</div>
