@model PaginatedList<Dividni.Models.QuestionBank>

@{
    ViewData["Title"] = "Question Banks";
    ViewData["Heading"] = "Question Banks";
    ViewData["Description"] = "Create and manage your question banks";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col">
            <h5 class="teal-text">My Question Banks</h5>
            <p>Review the <a asp-controller="Tutorial" asp-action="Assessment" target="_blank">tutorial <i
                        class="tiny material-icons">open_in_new</i></a>
                for help.</p>
            <p></p>
            <h6 class="teal-text">Create</h6>
            <form onSubmit="return createQuestionBank(event)">
                Enter name:
                <div class="input-field inline"><input type="text" id="name" required
                        pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*"></div>
                <button type="submit" class="waves-effect waves-light btn">Create<i
                        class="material-icons right">send</i></button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h6 class="teal-text">Manage</h6>
            <form asp-controller="QuestionBank" asp-action="Index">
                Search by name:
                <div class="input-field inline"><input type="text" name="SearchString"
                        value="@ViewData["CurrentFilter"]"></div>
                <button type="submit" class="waves-effect waves-light btn">Search<i
                        class="material-icons right">search</i></button>
                <a asp-controller="QuestionBank" class="waves-effect waves-light btn">Reset<i
                        class="material-icons right">undo</i></a>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="btn-floating waves-effect waves-light red"><i
                        class="material-icons right">sort_by_alpha</i></a>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="questionBankCards">
                @foreach (var item in Model)
                {
                    <div class="col s12 m6 l4">
                        <div class="card sticky-action">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/images/bank.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem =>
                                item.Name)</span>
                                <p>@Html.DisplayFor(modelItem => item.ModifiedDate)</p>
                            </div>
                            <div class="card-action center">
                                <a class="activator waves-effect waves-light">Details <i
                                        class="material-icons tiny">pageview</i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"
                                    class="waves-effect waves-light red-text">Delete <i
                                        class="material-icons tiny">delete</i></a>
                                <a asp-action="Save" asp-route-id="@item.Id" class="waves-effect waves-light teal-text">Save
                                    <i class="material-icons tiny">save</i></a>
                            </div>
                            <div class="card-reveal grey lighten-2">
                                <span class="card-title">
                                    <div class="input-field inline"><input type="text"
                                            value="@Html.DisplayFor(modelItem => item.Name)"></div>
                                    <i class="material-icons right">close</i>
                                </span>
                                <ul class="collection questionList" value="@item.QuestionList"></ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <p></p>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="waves-effect waves-light btn @prevDisabled">
                Previous
            </a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="waves-effect waves-light btn @nextDisabled">
                Next
            </a>
        </div>
    </div>
    <div id="userEmail" value="@User.Identity.Name"></div>
</section>
